
<hr>
  <div class="uppernav">
    <button type="button" name="button"><%= link_to "Create Post", new_post_path %></button>
  </div>
<br>
<div class="jumbotron">
  <h1>Welcome to HutofCode Blog</h1>
  <p>This is a multi-user blog where users get to share their coding stories with the community</p>
  <div class="row">

    <div class="col-sm-12 col-md-6">
      <%= link_to image_tag('friends circle.jpg', alt: "friends image"), about_path %>
    </div>
    <div class="col-sm-12 col-md-3">
      <h3>Latest Posts</h3>
      <table>
        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, post %></td>
          </tr>
        <% end %>
      </table> <br>
      <button type="button" class= "btn btn-sm btn-warning" name="button"><%= link_to 'View all Posts',posts_path %> </button>
    </div>
    <div class="col-sm-12 cl-md-3">

    </div>
  </div>

</div>

<div class="steps">
  <h2>Steps to get Started</h2>
  <ol>
    <li>Sign up for free</li>
    <li>Access your Dashboard</li>
    <li>Start writing articles and start sharing with the world</li>
  </ol>

</div>
<div class="calltoaction">
  <button type="button" name="button"><%= link_to 'Get Started Now', new_post_path %></button>
</div>
