<!DOCTYPE html>
<html>
  <head>
    <title>HutBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class = "container">
        <%= render 'layouts/navigation' %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        
        <%= yield %>
      <hr>
      <div class="lowernav">
        <%= link_to "Home", root_path %>
        <%= link_to "About Us", about_path %>
        <%= link_to "Contact Us", contact_path %>
      </div>
    <hr>

    </div>
</body>
</html>
